<div class="review__processd__container">
    <div class="personal__information__header">
        <p>Personal Information</p>
        <div class="header__right">
            <button (click)="editData(1)">
            <fa-icon [icon]="editIcon" class="icon"></fa-icon>
            Edit
        </button>
        </div>
    </div>

    <div class="personal__information__body">
        <div class="personal__information__left">
            <div class="form__control">
                <label for="firstname">First Name*</label><br>
                <input type="text" readonly name="firstname" id="firstname" [(ngModel)]="personalInformation.firstName">
            </div>

            <div class="form__control">
                <label for="lastname">Last Name*</label><br>
                <input type="text" name="lastname" id="lastname" [(ngModel)]="personalInformation.lastName">
            </div>

            <div class="form__control">
                <label for="email">Email*</label><br>
                <input type="email" name="email" id="email" [(ngModel)]="personalInformation.email">
            </div>

            <div class="form__control">
                <label for="mobile">Phone Number*</label><br>
                <input type="text" name="mobile" id="mobile" [(ngModel)]="personalInformation.phoneNo">
            </div>

            <div class="form__control">
                <label>
                    <input type="file" class="upload__resume" name="resume" [(ngModel)]="personalInformation.resume">
                    <!-- <fa-icon [icon]="faArrowUp" class="icon"></fa-icon> -->
                    <a class="upload__resume_link">Upload Resume</a>
                </label>
            </div>

            <div class="form__control">
                <label for="portfolioUrl">Enter Portfolio URL (if any)</label> <br>
                <input type="text" name="portfolioUrl" id="portfolioUrl" [(ngModel)]="personalInformation.portflioUrl">
            </div>

            <div class="form__control">
                <label for="jobRoles">Preferred Job Roles*</label><br>
                <input type="checkbox" name="jobRoles-one" id="" value="Instructional Designer"
                    [(ngModel)]="personalInformation.preferredJobRoles[0]"><label for="">Instructional
                    Designer</label> <br>

                <input type="checkbox" name="jobRoles-two" id="" value="Software Engineer"
                    [(ngModel)]="personalInformation.preferredJobRoles[1]"><label for="">Software
                    Engineer</label><br>

                <input type="checkbox" name="jobRoles-three" id="" value="Software Quality Engineer"
                    [(ngModel)]="personalInformation.preferredJobRoles[2]"><label for="">Software
                    Quality Engineer</label>
            </div>

            <div class="form__control">
                <label for="referral">If You Are Registering Via A Referral, Please Mention Full Name Of The Employee
                    Who Referred You</label> <br>

                <input type="text" name="referral" id="referral" [(ngModel)]="personalInformation.referral">
            </div>

            <div class="form__control">
                <input type="checkbox" name="mailUpdate" id="mailUpdate"
                    [(ngModel)]="personalInformation.emailNotification">
                <label for="mailUpdate">Send me job related updates via mail</label>
            </div>

        </div>
        <div class="personal__information__right">
            <img src="../../assets/images/pngwing.com.png" alt="upload profile image"><br>
            <label>
                <input type="file" class="upload__image" name="portfolioImage"
                    [(ngModel)]="personalInformation.portfolioImage">
                <a class="upload__image_link">UPLOAD DISPLAY PICTURE</a>
            </label>
            <p>Max. image size: 5 MB</p>
        </div>
    </div>

    <div class="qualification__information__header">
        <p>Qualifications</p>
        <div class="header__right">
            <button (click)="editData(1)">
            <fa-icon [icon]="editIcon" class="icon"></fa-icon>
            Edit
        </button>
        </div>
    </div>

    <div class="qualification__information__body">
        <educational-qualification></educational-qualification>
        <professional-qualification></professional-qualification>
    </div>
</div>